<head th:fragment="ConfigFragment" xmlns:layout="">
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>

	<!-- 동적으로 제목을 설정 -->
	<title th:text="${pageTitle}">Default Title</title>

	<!-- 공통 CSS 파일 -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/sweetalert2.min.css}" rel="stylesheet"/>

	<!-- 페이지마다 추가되는 CSS 파일 -->
	<th:block layout:fragment="css"></th:block>

	<!-- 공통 JS 파일 -->
	<script src="/js/util/sweetalert2.js"></script>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<script src="/js/util/jquery-3.7.1.min.js"></script>
	<script src="/js/util/bootstrap.bundle.min.js"></script>
	<script src="/js/util/jwt-decode.min.js"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script type="module">
        import { startSessionTimer } from '/js/common.js';

        window.addEventListener('DOMContentLoaded', () => {
            startSessionTimer();
        });
	</script>

	<!-- 페이지마다 추가되는 JS 파일 -->
	<th:block layout:fragment="script"></th:block>
</head>