<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<body>
<div layout:fragment="Content">
	<h1 th:text="${message}"></h1>

	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Memo</th>
			<th>RegId</th>
			<th>CreateDate</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="customer : ${customers}" class="customer-row">
			<td th:text="${customer.idx}"></td>
			<td th:text="${customer.name}"></td>
			<td th:text="${customer.memo}"></td>
			<td th:text="${customer.regId}"></td>
			<td th:text="${customer.createdDate}"></td>
			<td>
				<button type="button" class="customer-delete" th:attr="data-idx=${customer.idx}">삭제</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
<th:block layout:fragment="script">
	<script th:src="@{/js/user/form.js}"></script>
	<script>
		$(function () {
			$('.customer-row').on('click', function() {
				const idx = $(this).find('td').first().text();
				window.location.href = `/customer/update/${idx}`;
			});
			$(".customer-delete").on('click', async function (e) {
				e.preventDefault();
				e.stopPropagation();
				const idx = $(this).data('idx');

				$.ajax({
					type: "DELETE",
					url: `/api/customer/delete/${idx}`,
					contentType: 'application/json; charset=utf-8',
					success: function (res) {
						alert(res.message);
						window.location = '/customer/list';
					},
					error: function (error) {
						alert(error);
						console.error(error);
					}
				});
			})
		})
	</script>
</th:block>
</html>
