<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<div layout:fragment="Content" class="container mt-4">
	<h1 th:text="${message}" class="mb-4"></h1>

	<div th:insert="~{common/fragments/search}"></div>

	<table class="table table-striped">
		<thead class="table-light">
		<tr>
			<th>인덱스</th>
			<th>업체명</th>
			<th>메모</th>
			<th>등록자아이디</th>
			<th>등록날자</th>
			<th>수정날자</th>
			<th>삭제</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="customer : ${customers}" class="customer-row">
			<td th:text="${customer.idx}"></td>
			<td th:text="${customer.name}"></td>
			<td th:text="${customer.memo}"></td>
			<td th:text="${customer.regId}"></td>
			<td th:text="${customer.createdDate}"></td>
			<td th:text="${customer.updatedDate}"></td>
			<td>
				<button type="button" class="btn btn-info customer-update" th:attr="data-idx=${customer.idx}">수정</button>
				<button type="button" class="btn btn-danger customer-delete" th:attr="data-idx=${customer.idx}">삭제</button>
			</td>
		</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-primary mb-3" onclick="location.href='/customer/create'">생성</button>
	<div th:insert="~{common/fragments/pagination}"></div>
</div>
<th:block layout:fragment="script">
	<script type="module">
		import { viewCustomer } from '/js/customer/ajax.js';

		$(function () {
			viewCustomer();
		});
	</script>
</th:block>
</html>