<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<div layout:fragment="Content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="card shadow-lg border-0 rounded-lg mt-5">
					<div class="card-header"><h3 class="text-center font-weight-light my-4">Create Server Info</h3>
					</div>
					<div class="card-body">
						<form>
							<input type="hidden" id="idx" name="idx" th:value="${(server != null and server.idx != null) ? server.idx : ''}">
							<input type="hidden" id="mode" name="mode" th:value="${mode}">
							<div class="form-floating mb-3">
								<label for="ip">IP 주소</label>
								<input class="form-control" type="text" id="ip" name="ip" th:value="${(server != null and server.ip != null) ? server.ip : ''}" required>
							</div>
							<div class="form-floating mb-3">
								<label for="port">접속 포트 번호</label>
								<input class="form-control" type="text" id="port" name="port" th:value="${(server != null and server.port != null) ? server.port : ''}"
									   required>
							</div>
							<div class="form-floating mb-3">
								<label for="serverUser">사용자 계정</label>
								<input class="form-control" type="text" id="serverUser" name="serverUser"
									   th:value="${(server != null and server.serverUser != null) ? server.serverUser : ''}" required>
							</div>
							<div class="form-floating mb-3">
								<label for="rootPassword">root 계정 비밀번호</label>
								<input class="form-control" type="password" id="rootPassword" name="rootPassword" th:value="${(server != null and server.rootPassword != null) ? server.rootPassword : ''}"
									   required>
							</div>
							<div class="form-floating mb-3">
								<label for="databaseName">데이터베이스 이름</label>
								<input class="form-control" type="text" id="databaseName" name="databaseName"
									   th:value="${(server != null and server.databaseName != null) ? server.databaseName : ''}"
									   required>
							</div>
							<div class="mt-4 mb-0">
								<div class="d-grid">
									<button class="btn btn-primary btn-block btn-submit" type="submit">확인</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary mb-3" onclick="location.href='/server/list'">목록</button>
	</div>
</div>
<th:block layout:fragment="script">
	<script type="module">
        import { showAlert } from '/js/common.js';

        $(function () {
            const params = new URLSearchParams(window.location.search);

            $('.btn-submit').on('click', async function (e) {
                e.preventDefault();
				const mode = $('#mode').val();
				const idx = $('#idx').val();

				const formData = {
					ip: $('#ip').val(),
					port: $('#port').val(),
					serverUser: $('#serverUser').val(),
					rootPassword: $('#rootPassword').val(),
					databaseName: $('#databaseName').val()
				};


				let url = mode == 'create' ? '/api/server/create' : `/api/server/update/${idx}`;
				let method = mode == 'create' ? 'POST' : 'PUT';

				$.ajax({
					type: method,  // POST 또는 PUT
					url: url,
					data: JSON.stringify(formData),
					contentType: 'application/json; charset=utf-8',
					success: function (res) {
						showAlert('Success!', mode === 'create' ? '서버 등록 완료' : '서버 수정 완료', 'success').then(() => {
							window.location = '/server/list';
						});
					},
					error: function (error) {
						showAlert('Error!', mode === 'create' ? '서버 등록 실패' : '서버 수정 실패', 'error');
						console.error(error);
					}
				});
			});
        });
	</script>
</th:block>
</html>