<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<div layout:fragment="Content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="card shadow-lg border-0 rounded-lg mt-5">
					<div class="card-header"><h3 class="text-center font-weight-light my-4">Create Server Info</h3>
					</div>
					<div class="card-body">
						<form>
							<div class="form-floating mb-3">
								<label for="ip">IP 주소</label>
								<input class="form-control" type="text" id="ip" name="ip" placeholder="49.254.140.140"
									   required>
							</div>
							<div class="form-floating mb-3">
								<label for="port">접속 포트 번호</label>
								<input class="form-control" type="text" id="port" name="port" placeholder="8080"
									   required>
							</div>
							<div class="form-floating mb-3">
								<label for="serverUser">사용자 계정</label>
								<input class="form-control" type="text" id="serverUser" name="serverUser"
									   placeholder="root" required>
							</div>
							<div class="form-floating mb-3">
								<label for="rootPassword">root 계정 비밀번호</label>
								<input class="form-control" type="password" id="rootPassword" name="rootPassword"
									   required>
							</div>
							<div class="form-floating mb-3">
								<label for="databaseName">데이터베이스 이름</label>
								<input class="form-control" type="text" id="databaseName" name="databaseName"
									   placeholder="YB_CSERVER"
									   required>
							</div>
							<div class="mt-4 mb-0">
								<div class="d-grid">
									<button class="btn btn-primary btn-block btn-submit" type="submit">등록</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="script">
	<script type="module">
        import { showAlert } from '/js/common.js';

        $(function () {
            const params = new URLSearchParams(window.location.search);
            const id = params.get('idx');

            console.log('id->', id);

            if (id) {
                getServerData(id);
            }

            $('.btn-submit').on('click', async function (e) {
                e.preventDefault();

                const formData = {
                    ip: $('#ip').val(),
                    port: $('#port').val(),
                    serverUser: $('#serverUser').val(),
                    rootPassword: $('#rootPassword').val(),
                    databaseName: $('#databaseName').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/server/create',
                    data: JSON.stringify(formData),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        showAlert('Success!', '서버 등록 완료', 'success').then(() => {
                            window.location = '/server/list';
                        });
                    },
                    error: function (error) {
                        showAlert('Error!', '서버 등록 실패', 'error');
                        console.error(error);
                    }
                });
            });

            function getServerData (id) {
                fetch(`/server/update/${id}`) // 해당 ID로 서버 데이터 요청
                  .then(response => {
                      if (!response.ok) {
                          throw new Error('네트워크 응답이 올바르지 않습니다.');
                      }
                      return response.json();
                  })
                  .then(data => {
                      $('#ip').value = data.ip;
                      $('#port').value = data.port;
                      $('#serverUser').value = data.serverUser;
                      $('#rootPassword').value = data.rootPassword;
                      $('#databaseName').value = data.databaseName;
                  })
                  .catch(error => {
                      console.error('Error:', error);
                  });
            }
        });
	</script>
</th:block>
</html>