<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>서버 정보 등록</title>
</head>
<body>
<h2>서버 정보 등록</h2>
<div layout:fragment="Content">
	<form action="/" method="POST">
		<label for="ip">IP 주소</label>
		<input type="text" id="ip" name="ip" placeholder="49.254.140.140" required>

		<label for="port">접속 포트 번호</label>
		<input type="text" id="port" name="port" placeholder="8080" required>

		<label for="serverUser">사용자 계정</label>
		<input type="text" id="serverUser" name="serverUser" placeholder="root" required>

		<label for="rootPassword">root 계정 비밀번호</label>
		<input type="password" id="rootPassword" name="rootPassword" required>

		<label for="databaseName">데이터베이스 이름</label>
		<input type="text" id="databaseName" name="databaseName" placeholder="YB_CSERVER" required>

		<input type="submit" class="btn-submit" value="등록">
	</form>
</div>
</body>
<th:block layout:fragment="script">
	<script>
        $(function () {
            const params = new URLSearchParams(window.location.search);
            const id = params.get('idx');

            console.log('id->', id);

            if (id) {
                getServerData(id);
            }

            $('.btn-submit').on('click', async function (e) {
                e.preventDefault();

                const formData = {
                    ip: $('#ip').val(),
                    port: $('#port').val(),
                    serverUser: $('#serverUser').val(),
                    rootPassword: $('#rootPassword').val(),
                    databaseName: $('#databaseName').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/server/create',
                    data: JSON.stringify(formData),
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        showAlert('Success!', '서버 등록 완료', 'success').then(() => {
                            window.location = '/server/list';
                        });
                    },
                    error: function (error) {
                        showAlert('Error!', '서버 등록 실패', 'error');
                        console.error(error);
                    }
                });
            });

            function getServerData (id) {
                fetch(`/server/update/${id}`) // 해당 ID로 서버 데이터 요청
                  .then(response => {
                      if (!response.ok) {
                          throw new Error('네트워크 응답이 올바르지 않습니다.');
                      }
                      return response.json();
                  })
                  .then(data => {
                      document.querySelector('#ip').value = data.ip;
                      document.querySelector('#port').value = data.port;
                      document.querySelector('#serverUser').value = data.serverUser;
                      document.querySelector('#rootPassword').value = data.rootPassword;
                      document.querySelector('#databaseName').value = data.databaseName;
                  })
                  .catch(error => {
                      console.error('Error:', error);
                  });
            }

        });
	</script>
</th:block>
</html>