<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">
<body>
<div layout:fragment="Content">
    <h1 th:text="${message}"></h1>

    <table>
        <thead>
        <tr>
            <th>IP Address</th>
            <th>User</th>
            <th>Password</th>
            <th>Updated Date</th>
            <th>Upt/Del</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="server : ${servers}" th:attr="data-idx=${server.idx}">
            <td th:text="${server.ip} + ':' + ${server.port}"></td>
            <td th:text="${server.serverUser}"></td>
            <td th:text="${server.rootPassword}"></td>
            <td th:text="${server.updatedDate}"></td>
            <td>
                <a th:href="@{http://localhost:8080/server/create(id=${server.idx})}">수정</a>
                <button th:onclick="'deleteServer(' + ${server.idx} + ')'">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script>
        function deleteServer(id) {
            const confirmed = confirm("Are you sure delete it?");
            if (!confirmed) {
                return;
            }

            fetch(`/server/delete/${id}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        alert(`Server Info Deleted Complete.`);
                        const row = document.querySelector(`tr[data-idx='${id}']`);
                        if (row) {
                            row.remove();
                        }
                    } else {
                        alert(`Failed to Delete Server Info.`);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</th:block>
</html>

