<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<div layout:fragment="Content">
	<div class="container mt-5">
		<h2 class="mb-4">서버 목록</h2>
		<button type="button" class="btn btn-primary mb-3" onclick="location.href='/server/create'">등록</button>
		<!-- 검색창 및 필터 -->
		<div class="row mb-4 justify-content-end align-items-center">
			<div class="col-auto">
				<label for="filterSelect" class="visually-hidden">검색 필터 선택</label>
				<select id="filterSelect" class="form-select form-select-sm" aria-label="검색 필터 선택">
					<option value="ip">IP</option>
				</select>
			</div>
			<div class="col-auto">
				<label for="searchInput" class="visually-hidden">검색어 입력</label>
				<input type="text" id="searchInput" class="form-control form-control-sm" placeholder="검색어를 입력하세요"
					   aria-label="검색어 입력">
			</div>
			<div class="col-auto">
				<button class="btn btn-primary btn-sm" id="searchBtn">검색</button>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead class="table-light">
				<tr>
					<th scope="col">IP Address</th>
					<th scope="col">User</th>
					<th scope="col">Updated Date</th>
					<th scope="col">Upt/Del</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="server : ${servers}" th:attr="data-idx=${server.idx}">
					<td th:text="${server.ip} + ':' + ${server.port}"></td>
					<td th:text="${server.serverUser}"></td>
					<td th:text="${server.updatedDate}"></td>
					<td>
						<button th:onclick="'updateServer(' + ${server.idx} + ')'">수정</button>
						<button th:onclick="'deleteServer(' + ${server.idx} + ')'">삭제</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- 페이징 네비게이션 -->
		<nav aria-label="서버 목록 페이지">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">이전</a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">다음</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<th:block layout:fragment="script">
	<script>
		function updateServer(idx) {
			window.location.href = `/server/update/${idx}`;
		}

		function deleteServer (idx) {
			// console.log(idx)
            const confirmed = confirm('Are you sure delete it?');
            if (!confirmed) {
                return;
            }

            fetch(`/api/server/delete/${idx}`, {
                method: 'DELETE'
            })
              .then(response => {
                  if (response.ok) {
                      alert(`Server Info Deleted Complete.`);
                      const row = document.querySelector(`tr[data-idx='${idx}']`);
                      if (row) {
                          row.remove();
                      }
                  } else {
                      alert(`Failed to Delete Server Info.`);
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
              });
        }
	</script>
</th:block>
</html>