<!DOCTYPE html>
<html lang="ko"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
</th:block>

<div layout:fragment="Content">
	<div class="container mt-5">
		<h2 class="mb-4">회원 목록</h2>

		<!-- 검색창 및 필터 -->
		<div id="search-container"></div>

		<!-- 반응형 테이블 -->
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead class="table-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">아이디</th>
					<th scope="col">회원 이름</th>
					<th scope="col">부서명</th>
					<th scope="col">직책</th>
					<th scope="col">이메일</th>
					<th scope="col">연락처</th>
					<th scope="col">권한</th>
					<th scope="col">마지막 로그인</th>
				</tr>
				</thead>
				<tbody id="memberTableBody">
				<tr class="user-info"><!--renderListHtml--></tr>
				</tbody>
			</table>
		</div>
		<div>
			<nav id="pagination-container"></nav>
			<div></div>
		</div>

	</div>
</div>
<th:block layout:fragment="script">
	<script type="module">
        import { handleUserList } from '/js/user/list.js';

        $(function () {
            handleUserList();
        });
	</script>
</th:block>
</html>