<!DOCTYPE html>
<html lang="ko"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
</th:block>

<div layout:fragment="Content">
	<div class="container mt-5">
		<h2 class="mb-4">회원 목록</h2>

		<!-- 검색창 및 필터 -->
		<div th:insert="~{common/fragments/search :: search(${options})}"></div>

		<!-- 반응형 테이블 -->
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead class="table-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">아이디</th>
					<th scope="col">회원 이름</th>
					<th scope="col">부서명</th>
					<th scope="col">직책</th>
					<th scope="col">이메일</th>
					<th scope="col">연락처</th>
					<th scope="col">권한</th>
					<th scope="col">마지막 로그인</th>
				</tr>
				</thead>
				<tbody id="memberTableBody">
				<tr th:each="user, iterStat : ${users}">
					<th scope="row" th:text="${iterStat.index + 1}">1</th>
					<td th:text="${user.userId}">work</td>
					<td th:text="${user.userName}">관리자</td>
					<td th:text="${user.department}">웹개발팀</td>
					<td th:text="${user.position}">연구원</td>
					<td th:text="${user.email}">work@itid.co.kr</td>
					<td th:text="${user.phone}">010-1234-5678</td>
					<td th:text="${user.level}">1</td>
					<td th:text="${user.lastLogin}">2024-09-01</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- 페이징 네비게이션
	TODO : 하드코딩 되어 있음. api 페이징 처리 후 변수 가져와야함 (currentPage, totalPages, baseUrl)
	-->
	<div th:insert="~{common/fragments/pagination :: pagination(1, 10, '/user/list')}"></div>

</div>
<th:block layout:fragment="script">
	<script type="module"></script>
</th:block>
</html>