<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">
<div layout:fragment="Content">
  <h1 th:text="${message}"></h1>
  <table>
    <thead>
    <tr>
      <th>domainUrl</th>
      <th>domainResister</th>
      <th>certificateIssuer</th>
      <th>certificateRenewalDate</th>
      <th>webmailCnt</th>
      <th>webmailAccount</th>
      <th>memo</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
      <td th:href="@{/service/update/(${service.idx})}" th:text="${service.domainUrl}"></td>
      <td th:text="${service.domainResister}"></td>
      <td th:text="${service.certificateIssuer}"></td>
      <td th:text="${service.certificateRenewalDate}"></td>
      <td th:text="${service.webmailCnt}"></td>
      <td th:text="${service.webmailAccount}"></td>
      <td th:text="${service.memo}"></td>
      <td>
        <button type="button" class="service-delete" th:attr="data-idx=${service.idx}">삭제</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</html>
<th:block layout:fragment="script">
  <script>
    $(function () {
      $('.service-delete').on('click', async function (e) {
        e.preventDefault();
        e.stopPropagation();
        const idx = $(this).data('idx');

        try {
          const res = await $.ajax({
            type: 'DELETE',
            url: `/api/service/delete/${idx}`
          });
          alert("데이터 삭제 성공");
        } catch (error) {
          showAlert('Error!', error, 'error');
          console.error(error);
        }
      });
    })
  </script>
</th:block>
</html>